@use 'reset'; //導入reset進來
@use 'variables'as *;
@use 'function'as *;
@use 'keyframes';
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=LXGW+WenKai+Mono+TC&family=Knewave&family=Montserrat&display=swap');

body {
    color: $deep;
}

.icon {
    display: flex;
    //margin-bottom: 5px; 已經設定到topbar .manu

    a {
        width: 35px;
        height: 35px;
        margin-right: $interval-s;
        transition: $speed-fast;

    }

    @each $social in fb,
    ig,
    line {
        .icon-#{$social} {
            background-image:url(../images/icon-#{$social}.svg);
        }

        .icon-#{$social}:hover {
            background-image:url(../images/icon-#{$social}-hover.svg);
        }
    }
}

/* 頁首區 */
#topbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-l; //數字越大越前面 這樣就不會被遮到了
    width: 100%;
    /* position的寬度會改為自動抓內容尺寸 */

    display: flex; //主軸方向 水平
    justify-content: space-between; //主軸(水平)左右均分
    align-items: center; //副軸(垂直)置中
    padding: $interval-xy-l;



    .logo {
        width: 65px; //並非直接改img而是改他父元素
    }

    .navigation {
        display: flex; //水平
        flex-direction: column; //主軸方向垂直
        align-items: flex-end; //副軸水平置頂靠右

        .menu {
            display: flex;
            border-radius: 99px;
            padding: $interval-x-s;
            margin-top: $interval-s;
            @extend %glassmorphism;

            a {
                margin: $interval-s;
                padding: $interval-s-xy-l; //內距上下平衡
                @include border-b($color: transparent);
                //先保留hover底線空間(透明) 再給她顏色
                //解決動一夏的問題 原因尺寸不一致
                transition: $speed-fast; //過場動畫，寫在元素本人身上才會都有動畫
                //如果寫在hover離開時就不會有動畫
                text-shadow: $text-shadow; //文字外圍陰影

                &:hover {
                    @include border-b;
                    color: $deep;
                }

            }

        }

        // @media ($mediaSmUp) {

        // }

    }
}

@media ($mediaSm) {
    #topbar {
        .navbar {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .hamburger {
                //修改button預設樣式
                background-color: transparent;
                border: none;

                .bar {
                    display: block;
                    width: 24px;
                    height: 3px;
                    background-color: $deep;
                    margin: 5px auto;
                }

            }

            .navigation {
                align-items: center;

                .menu {
                    flex-direction: column; //主軸方向改為垂直
                    order: -1; //order原先都是0 所以要到icon上面要變-1
                }
            }
        }

    }
}

/* 主要內容區  */
section {
    height: 100vh; //一個視窗高
    @extend %box-center;
    flex-direction: column;

    .title {
        @extend %box-center;
        flex-direction: column;
        position: relative;
        margin: $interval-l;

        &::before {
            content: '';
            /* 必須寫這句，沒寫就不會顯示。就算是空值也要保留，但不能放重要文案，因為搜尋引擎搜不到 */
            background-color: $deep;
            width: 15px;
            height: 15px;
            border-radius: 99px;

            position: absolute; //絕對定位
            top: -10px;
            left: -15px;
        }

        &::after {
            content: '';
            background-color: $deep;
            width: 10px;
            height: 10px;
            border-radius: 99px;

            position: absolute;
            bottom: 20px;
            right: -10px;
        }

        h2 {
            font-family: "Knewave", serif;
            font-size: $font-size-xxxl;
        }

        h3 {
            font-family: "LXGW WenKai Mono TC", serif;
            font-size: $font-size-l;
        }

    }
}

.box-list {
    width: 80%;
    max-width: 1400px; //最大寬度max-width(px)常搭配寬度width(%)
    display: flex;

    .item {
        @include bordered;
        flex: 1; //爸爸要有display flex才能設定
        margin: $interval-x-m;
        border-radius: $border-r-m;
        overflow: hidden; //隱藏超過框的內容


        .content {
            padding: $interval-m;

            h2 {
                font-size: $font-size-l;
                font-weight: $font-weight-bold;
                margin-bottom: $interval-s;
            }

        }
    }
}

/* 最新消息 */
#news {
    background-color: $bg-1;

    figure {
        height: 30vh;

        img {
            @extend %img-cover;
        }
    }

    .content {
        transition: $speed-fast;

        p {
            @extend %line-multople;
            -webkit-line-clamp: 6;
            line-clamp: 6;
        }

        &:hover {
            background-color: $light;
        }
    }
}

/* 服務項目 */
#service {
    background-color: $bg-2;

    @each $service in 1,
    2,
    3,
    4 {
        .svc-#{$service} {
            background-image:url(../images/pt_svc#{$service}.jpg);
        }
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end; //父軸

        background-size: cover;
        background-position: center;
        height: 60vh;

        .content {
            background-color: $alpha-b-65;
            color: $light;
            transition: $speed-fast;

            &:hover {
                background-color: $alpha-b-85;
            }

            p {
                @extend %line-single;
            }
        }
    }
}

/* 關於我們  */
#about {
    position: relative;
    background-color: $bg-1;

    div {
        position: absolute;
        z-index: $z-index-m;

        width: 55%;
        height: 100vh; //靠上對齊 沒辦法繼承section的置中

        @extend %box-center; //主軸抓內容尺寸 副軸百分之百
        flex-direction: column;
        background-color: $alpha-w-60;

        p {
            margin: 0 70px;
            height: 70vh;
            overflow: scroll; //卷軸
            padding: 10px;

            &::-webkit-scrollbar {
                //捲動條
                width: 10px; //垂直卷軸寬
                height: 10px; //水平卷軸高

            }

            &::-webkit-scrollbar-button {
                background-color: $lesser-3;
                width: 0px; //水平卷軸按鈕寬
                height: 0px; //垂直捲職按鈕寬
            }

            &::-webkit-scrollbar-thumb {
                //卷軸手柄
                background-color: $lesser-4;
                width: 12px;
                border-radius: 99px;
            }

            &::-webkit-scrollbar-track {
                //滾動條軌道的顏色
                background-color: $lesser-1;
                border-radius: 99px;
            }



        }
    }

    #video-bg {
        width: 100%;
        height: 100%;
        object-fit: cover;

        //修片效果
        // mix-blend-mode: overlay;
        filter: brightness(160%) opacity(25%);
    }
}

/* 相關影片 */
#video {
    background-color: $bg-3;

    div {
        height: 60vh;

        video {
            height: 100%;
        }
    }

}

/* 寫在外面的方法 RWD */
@media ($mediaMd) {
    #video {
        height: auto;
        padding: 100px 0;

        div {
            width: 70%; //寬蓋不了高 
            height: auto; //所以要寫這句
            //高度需要重新定義覆蓋桌機版

            video {
                width: 100%;
                height: auto;
            }
        }
    }
}

/* 聯絡我們表單 */
#contact {
    position: relative;
    overflow: hidden; //超過爸爸隱藏
    background-image: url('../images/bg_contact.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; //固定背景的語法

    #contact-form {
        width: 35%;

        >* {
            display: block;
            width: 100%;
        }

        label {
            margin: $interval-label;
            font-size: $font-size-s;
        }

        input,
        textarea {
            color: $lesser-4;
            font-size: $font-size-m;
            padding: 8px;
            border-radius: 8px;

            @extend %glassmorphism;
            //修改input預設樣式
            background-color: transparent;
            border: none;

            &::placeholder {
                color: $lesser-2;
            }

            &:focus {
                outline: 2px solid $lesser-3;
            }
        }

        small {
            font-size: $font-size-xs;
        }

        #contact-btn {
            @extend %box-center;
            @extend %glassmorphism;
            //修改button預設樣式
            background-color: transparent;
            border: none;

            border-radius: 99px;
            cursor: pointer; //游標
            height: 60px;
            width: 210px;
            margin: $interval-x-center;

            span {
                color: $lesser-4;
                letter-spacing: 1.5rem; //字距家在每個字的右邊
                padding-left: 1.5rem; //因為使用字距會歪一邊所以用左邊調整
            }

            &:hover {
                //btn的hover
                animation: rotate 0.7s ease-in-out both;

                span {
                    animation: storm 0.7s ease-in-out both;
                    animation-delay: 0.06s;
                }
            }

        }
    }

    .flower_r {
        width: 320px;
        position: absolute;
        left: -30px;
        bottom: -50px;
        transform: rotate(30deg);

    }

    .flower_w {
        width: 320px;
        position: absolute;
        top: 50px;
        right: -30px;
        transform: rotate(-50deg);

    }
}

footer {
    background-color: $bg-3;
    padding: $interval-xy-l;
    display: flex;
    justify-content: space-between;

    .logo {
        width: 50px;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .navigation {
            display: flex;

            @media ($mediaMd) {
                display: none;
            }

            .menu {
                display: flex;
                margin: $interval-x-m;

                >li {
                    //只有第一層有 第二層就不會套
                    width: 6rem;
                    /* 相對於字寬才用rem設定寬度 */
                    margin: $interval-x-s;

                    ul {
                        margin: $interval-y-m;
                    }
                }
            }
        }

    }
}