// %glassmorphism {
//     background-image: linear-gradient( 4deg,rgba(255, 255, 255, 0.3),rgba(255, 255, 255, .15) 55%,rgba(255, 255, 255, .4));
//     backdrop-filter: brightness(120%) blur(5px);
//     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15); // 容器外圍有陰影
//     // filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
//     // 整個物件包含內容都有陰影
// }
%box-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
%img-cover {
    //width:100%;已在reset檔案中設定過
    height: 100%;
    object-fit: cover;
}
//多行省略
%line-multiple {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    //行數於區塊中設定-webkit-line-clamp: ;
}
//單行省略
%line-single {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}