//neutral
$deep :#444;
$grey:#999;
$light:#f1f1f1;

//background
$bg-1:#fce6e6;
$bg-2:#f3ecd8;
$bg-3:#e6f7ea;

//lesser
$lesser-1:#f3c8fd;
$lesser-2:#bf98ca;
$lesser-3:#b361b6;
$lesser-4:#6d4768;

//alpha
$alpha-b-65:rgba(0, 0, 0, 0.65);
$alpha-b-85:rgba(0, 0, 0, 0.85);


