@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Knewave&family=LXGW+WenKai+Mono+TC&family=Knewave&family=Montserrat&display=swap");
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block;
  /* 將a預設inline改為block，才能設定間距及寬高*/
  color: #666;
  text-decoration: none;
}

/* 卷軸樣式 */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-button {
  background-color: #af7e9d;
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #835c6f;
  width: 12px;
  border-radius: 99;
}

::-webkit-scrollbar-track {
  background-color: #d8b8ca;
}

::-webkit-scrollbar-corner {
  background-color: #bd94b4;
}

::-webkit-resizer {
  background-color: #d8b8ca;
}

/* reset end */
#topbar .navigation .menu, #contact #contact-form input,
#contact #contact-form textarea, #contact #contact-form #contact-btn {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.4));
  backdrop-filter: blur(3px) brightness(120%);
  /* 模糊 明亮度 */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  /* 容器外圍陰影 */
}

section, section .title, #about div, #contact #contact-form #contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#news figure img {
  height: 100%;
  object-fit: cover;
}

#news .content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

#service .item .content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
body {
  color: #444;
}

.icon {
  display: flex;
}
.icon a {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  transition: 0.4s;
}
.icon .icon-fb {
  background-image: url(../images/icon-fb.svg);
}
.icon .icon-fb:hover {
  background-image: url(../images/icon-fb-hover.svg);
}
.icon .icon-ig {
  background-image: url(../images/icon-ig.svg);
}
.icon .icon-ig:hover {
  background-image: url(../images/icon-ig-hover.svg);
}
.icon .icon-line {
  background-image: url(../images/icon-line.svg);
}
.icon .icon-line:hover {
  background-image: url(../images/icon-line-hover.svg);
}

/* 頁首區 */
#topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  /* position的寬度會改為自動抓內容尺寸 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}
#topbar .logo {
  width: 65px;
}
#topbar .navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#topbar .navigation .menu {
  display: flex;
  border-radius: 99px;
  padding: 0 10px;
  margin-top: 10px;
}
#topbar .navigation .menu a {
  margin: 10px;
  padding: 8px 0 5px;
  border-bottom: 2px solid transparent;
  transition: 0.4s;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
}
#topbar .navigation .menu a:hover {
  border-bottom: 2px solid #444;
  color: #444;
}

/* 主要內容區  */
section {
  height: 100vh;
  flex-direction: column;
}
section .title {
  flex-direction: column;
  position: relative;
  margin: 24px;
}
section .title::before {
  content: "";
  /* 必須寫這句，沒寫就不會顯示。就算是空值也要保留，但不能放重要文案，因為搜尋引擎搜不到 */
  background-color: #444;
  width: 15px;
  height: 15px;
  border-radius: 99px;
  position: absolute;
  top: -10px;
  left: -15px;
}
section .title::after {
  content: "";
  background-color: #444;
  width: 10px;
  height: 10px;
  border-radius: 99px;
  position: absolute;
  bottom: 20px;
  right: -10px;
}
section .title h2 {
  font-family: "Knewave", serif;
  font-size: 2rem;
}
section .title h3 {
  font-family: "LXGW WenKai Mono TC", serif;
  font-size: 1.2rem;
}

.box-list {
  width: 80%;
  max-width: 1400px;
  display: flex;
}
.box-list .item {
  border: 1px solid #444;
  flex: 1;
  margin: 0px 15px;
  border-radius: 16px;
  overflow: hidden;
}
.box-list .item .content {
  padding: 16px;
}
.box-list .item .content h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

/* 最新消息 */
#news {
  background-color: #fce6e6;
}
#news figure {
  height: 30vh;
}
#news .content {
  transition: 0.4s;
}
#news .content p {
  -webkit-line-clamp: 6;
  line-clamp: 6;
}
#news .content:hover {
  background-color: #f1f1f1;
}

/* 服務項目 */
#service {
  background-color: #f3ecd8;
}
#service .svc-1 {
  background-image: url(../images/pt_svc1.jpg);
}
#service .svc-2 {
  background-image: url(../images/pt_svc2.jpg);
}
#service .svc-3 {
  background-image: url(../images/pt_svc3.jpg);
}
#service .svc-4 {
  background-image: url(../images/pt_svc4.jpg);
}
#service .item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  height: 60vh;
}
#service .item .content {
  background-color: rgba(0, 0, 0, 0.65);
  color: #f1f1f1;
  transition: 0.4s;
}
#service .item .content:hover {
  background-color: rgba(0, 0, 0, 0.85);
}
/* 關於我們  */
#about {
  position: relative;
  background-color: #fce6e6;
}
#about div {
  position: absolute;
  z-index: 888;
  width: 55%;
  height: 100vh;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
}
#about div p {
  margin: 0 70px;
  height: 70vh;
  overflow: scroll;
  padding: 10px;
}
#about div p::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
#about div p::-webkit-scrollbar-button {
  background-color: #af7e9d;
  width: 0px;
  height: 0px;
}
#about div p::-webkit-scrollbar-thumb {
  background-color: #835c6f;
  width: 12px;
  border-radius: 99px;
}
#about div p::-webkit-scrollbar-track {
  background-color: #d8b8ca;
  border-radius: 99px;
}
#about #video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(160%) opacity(25%);
}

/* 相關影片 */
#video {
  background-color: #e6f7ea;
}
#video div {
  height: 60vh;
}
#video div video {
  height: 100%;
}

/* 寫在外面的方法 RWD */
@media (max-width:1023px) {
  #video {
    height: auto;
    padding: 100px 0;
  }
  #video div {
    width: 70%;
    height: auto;
  }
  #video div video {
    width: 100%;
    height: auto;
  }
}
/* 聯絡我們表單 */
#contact {
  position: relative;
  overflow: hidden;
  background-image: url("../images/bg_contact.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#contact #contact-form {
  width: 35%;
}
#contact #contact-form > * {
  display: block;
  width: 100%;
}
#contact #contact-form label {
  margin: 24px 0 8px;
  font-size: 0.85rem;
}
#contact #contact-form input,
#contact #contact-form textarea {
  color: #835c6f;
  font-size: 1rem;
  padding: 8px;
  border-radius: 8px;
  background-color: transparent;
  border: none;
}
#contact #contact-form input::placeholder,
#contact #contact-form textarea::placeholder {
  color: #bd94b4;
}
#contact #contact-form input:focus,
#contact #contact-form textarea:focus {
  outline: 2px solid #af7e9d;
}
#contact #contact-form small {
  font-size: 0.8rem;
}
#contact #contact-form #contact-btn {
  background-color: transparent;
  border: none;
  border-radius: 99px;
  cursor: pointer;
  height: 60px;
  width: 210px;
  margin: 20px auto;
}
#contact #contact-form #contact-btn span {
  color: #835c6f;
  letter-spacing: 1.5rem;
  padding-left: 1.5rem;
}
#contact #contact-form #contact-btn:hover {
  animation: rotate 0.7s ease-in-out both;
}
#contact #contact-form #contact-btn:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
#contact .flower_r {
  width: 320px;
  position: absolute;
  left: -30px;
  bottom: -50px;
  transform: rotate(30deg);
}
#contact .flower_w {
  width: 320px;
  position: absolute;
  top: 50px;
  right: -30px;
  transform: rotate(-50deg);
}

footer {
  background-color: #e6f7ea;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}
footer .logo {
  width: 50px;
}
footer div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer div .navigation {
  display: flex;
}
@media (max-width:1023px) {
  footer div .navigation {
    display: none;
  }
}
footer div .navigation .menu {
  display: flex;
  margin: 0px 15px;
}
footer div .navigation .menu > li {
  width: 6rem;
  /* 相對於字寬才用rem設定寬度 */
  margin: 0 10px;
}
footer div .navigation .menu > li ul {
  margin: 10px 0;
}/*# sourceMappingURL=style.css.map */